<!-- successful.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Debug</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="font-inter flex  justify-center min-h-screen bg-white">
    <div class="m-4">
        <table class="min-w-full bg-white border border-gray-300 shadow-lg rounded-md overflow-hidden">
            <thead>
                <tr>
                    <th class="py-2 px-4 bg-gray-100 border-b"></th>
                    <th class="py-2 px-4 bg-gray-100 border-b">Team Name</th>
                    <th class="py-2 px-4 bg-gray-100 border-b">Telegram Bot ID</th>
                    <th class="py-2 px-4 bg-gray-100 border-b">Event Name</th>
                    <th class="py-2 px-4 bg-gray-100 border-b">Log</th>
                </tr>
            </thead>
            <tbody>
                {% for  data in logs %}
                    <tr>
                        <td class="py-2 px-4 border-b font-bold">
                            {{ loop.index }}
                        </td>
                        <td class="py-2 px-4 border-b
                            {% if data.success == 'none' %}
                                text-gray-500
                            {% elif data.success == 'true' %}
                                text-green-500
                            {% elif data.success == 'false' %}
                                text-red-700
                            {% endif %}
                        ">
                            {{ data.team_name }}
                        </td>
                        
                        <td class="py-2 px-4 border-b
                            {% if data.success == 'none' %}
                                text-gray-500
                            {% elif data.success == 'true' %}
                                text-green-500
                            {% elif data.success == 'false' %}
                                text-red-700
                            {% endif %}
                        ">
                            {{ data.botid }}
                        </td>
                        <td class="py-2 px-4 border-b
                            {% if data.success == 'none' %}
                                text-gray-500
                            {% elif data.success == 'true' %}
                                text-green-500
                            {% elif data.success == 'false' %}
                                text-red-700
                            {% endif %}
                        ">
                            {{ data.eventname }}
                        </td>
                        <td class="py-2 px-4 border-b
                        {% if data.success == 'none' %}
                            text-gray-500
                        {% elif data.success == 'true' %}
                            text-green-500
                        {% elif data.success == 'false' %}
                            text-red-700
                        {% endif %}
                    ">{{ data.log }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
