<!-- successful.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Successful Registration</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="font-inter flex items-center justify-center min-h-screen bg-gray-100">
    <div class="text-center">
        <h2 class="text-black text-3xl font-bold mb-4">Registration Successful!</h2>
        <p class="text-gray-600">
            <span class="font-semibold">Telegram Bot ID:</span> {{ data.bot_id }}<br>
            <span class="font-semibold">Access Token:</span> {{ data.access_token }}<br>
            <span class="font-semibold">Event Name:</span> {{ data.event_name }}
        </p>
        <p class="mt-4 text-gray-700">Your Webhook has been set successfully!</p>
    </div>
</body>
</html>
